.main_header {
    width: 100vw;
    height: calc(100vh - 3rem) ;
    display: grid;
    place-items: center;
    margin-top: 3rem;
    background-color: var(--color-secondary);
}

.main_header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between ;
    gap: 6rem;
}

.main_header-left {
    margin-top: -3rem;
}

.main_header-left h4 {
    margin-bottom: 1rem;
    color: var( --color-secondary-variant);
    font-weight: 300;
}

.main_header-left h1 {
    margin-bottom: 1rem;
    color: var(--color-primary);
    font-weight: 600;
}

.main_header-left p {
    color: var(--color-gray-300);
    font-weight: 300;
    margin-bottom: 2rem;
}

.main_header-right {
    display: grid;
    place-items: center;
    position: relative;
}

.main_header-circle {
    width: 25rem;
    height: 25rem;
    background: linear-gradient(76deg, var(--color-secondary-variant),
    transparent);
    border-radius: 50%;
    position: absolute;
}

.main_header-image {
    position: relative;
}

.product {
    background-color: var(--color-primary);
}

/* Product CSS */

.product {
    margin-top: 4rem;
}

.product_wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.products_product a{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products_product:hover a {
    background: var(--color-secondary-variant);
}

/* Values */

.values {
    background-color: var(--color-secondary);
}

.values_container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.values_image {
    filter: saturate(0.25);
    transition: var(--transition);
    margin-top: 5rem;
}

.values_image:hover {
    filter: saturate(1);
}

.values_right > p {
    margin: 1.5rem 0 5rem;
}

.values_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}

.card.values_value {
    padding: 3.5rem;
    text-align: left;
    position: relative;
}

.card.values_value h4 {
    color: var(--color-secondary);
}

.card.values_value:hover {
 background-color: var(--color-primary);
}

.card.values_value span {
    position: absolute;
    top: -1.5rem;
}


.values_icon {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    gap: 1rem;
 }

 .values_icon span {
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: var(--color-secondary);
    font-size: 1.5rem;
    margin-top: 5rem;

 }

 .card.values_value:hover span {
    background-color: var(--color-secondary-variant);
 }

 .values_icon h2 {
    color: var(--color-primary);
    margin-top: 5rem;
 }

.values_image {
    border-radius: 0 3rem 0 3rem;
}

/* FAQs */

.faqs_wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;
}

.faq {
    background: var(--color-gray-500);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_icon {
    background: transparent;
    color: var(--color-gray-100);
    font-size: 1.5rem;
}

.faq p {
    margin-top: 1.5rem;
}

.faqs {
    margin-top: 4rem;
}

.container .faqs_container {
    margin-top: 5rem;
}
